<div class="container" id="books-container">

  <div class="row" id="title-books-row">

    <div class="col" id="title-books-col">
      <div id="title-books">
        {{ message }}
      </div>
    </div>

  </div>

  <div class="row" id="books-row-1">
    
    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-1">
      <div id="children_1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/children/children_1/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/children/children_1/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/children/children_1/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-2">
      <div id="children_2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/children/children_2/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/children/children_2/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/children/children_2/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-3">
      <div id="children_3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/children/children_3/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/children/children_3/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/children/children_3/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" id="books-row-2">
    
    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-4">
      <div id="history_1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/history/history_1/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/history/history_1/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/history/history_1/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-5">
      <div id="history_2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/history/history_2/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/history/history_2/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/history/history_2/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-6">
      <div id="history_3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/history/history_3/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/history/history_3/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/history/history_3/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" id="books-row-3">
    
    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-7">
      <div id="novels_1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_1/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_1/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_1/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-8">
      <div id="novels_2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_2/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_2/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_3/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-9">
      <div id="novels_3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_3/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_3/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/novels/novels_3/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" id="books-row-4">
    
    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-10">
      <div id="science_1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/science/science_1/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/science/science_1/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/science/science_1/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-11">
      <div id="science_2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/science/science_2/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/science/science_2/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/science/science_2/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="books-col-12">
      <div id="science_3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="images/science/science_3/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/science/science_3/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="images/science/science_3/3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<style>
    #books-container {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

    #title-books-col {
      margin: 10px 10px 10px 10px;
      text-align: center;
    }

    #title-books {
      font-family: 'Noto Serif Display', serif;
      font-size: 2em;
    }

    #books-row-1 {
      margin: 10px 10px 10px 10px;
    }

    #books-row-2 {
      margin: 10px 10px 10px 10px;
    }

    #books-row-3 {
      margin: 10px 10px 10px 10px;
    }

    #books-row-4 {
      margin: 10px 10px 10px 10px;
    }

    #books-col-1 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-2 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-3 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-4 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-5 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-6 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-7 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-8 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-9 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-10 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-11 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #books-col-12 {
      padding-left: 10px 10px 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
</style>

<script>
  var app = new Vue({
  el: '#title-books',
  data: {
    message: 'Some of New Books'
  }
})
</script>