<div class="container" id="login-container">

  <div class="row" id="login-title-row">
    <div class="col" id="login-title-col">
      <div id="login-title">
        {{ message }}
      </div>
    </div>
  </div>

  <div class="row" id="login-button-row">
    <div class="col" id="login-button-col">
      <a href="login.php"><button type="button" class="btn btn-primary" id="login-button">Login</button></a>
    </div>
  </div>

</div>

<style>
    #login-container {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    #login-title {
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: 'Noto Serif Display', serif;
      font-size: 2em;
    }

    #login-button {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1em;
    }
</style>

<script>
  var app = new Vue({
  el: '#login-title',
  data: {
    message: 'In order to access, please LOGIN'
  }
})
</script>