<div class="container" id="logout-container">

  <div class="row" id="logout-button-row">
    <div class="col" id="logout-button-col">
      <a href="logout.php"><button type="button" class="btn btn-primary" id="logout-button">Logout</button></a>
    </div>
  </div>

</div>

<style>
    #logout-container {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    #logout-button {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1em;
    }
</style>